<?xml version="1.0" encoding="utf-8"?>

<odoo>
    <!-- action for patient model -->
    <record id="action_hospital_patient" model="ir.actions.act_window">
        <field name="name">Patient</field>
        <field name="res_model">hospital.patient</field>
        <field name="view_mode">kanban,tree,form</field>
        <field name="search_view_id" ref="hospital_management.view_hospital_patient_search"/>
    </record>


    <!-- Action for Patient Bill -->
    <record id="action_patient_bill" model="ir.actions.act_window">
        <field name="name">Patient Bills</field>
        <field name="res_model">hospital.patient.bill</field>
        <field name="view_mode">tree,form,pivot,graph</field>
        <field name="help" type="html">
            <p class="o_view_nocontent_smiling_face">
                Create and manage patient bills here.
            </p>
        </field>
    </record>

     <record id="action_mark_as_paid" model="ir.actions.server">
        <field name="name">Mark as Paid</field>
        <field name="model_id" ref="model_hospital_patient_bill"/>
        <field name="binding_model_id" ref="model_hospital_patient_bill"/>
        <field name="binding_view_types">tree,form</field>
        <field name="state">code</field>
        <field name="code">
            for record in records:
                record.action_mark_as_paid()
        </field>
    </record>

    <!-- Action for the doctor model -->
    <record id="action_hospital_doctor" model="ir.actions.act_window">
        <field name="name">Doctors</field>
        <field name="res_model">hospital.doctor</field>
        <field name="view_mode">tree,form</field>
    </record>

    <record id="action_open_url" model="ir.actions.act_url">
        <field name="name">Open Documentation</field>
        <field name="url">https://www.odoo.com</field>
        <field name="target">new</field>
    </record>


    <!-- Action for the department model -->
    <record id="action_hospital_department" model="ir.actions.act_window">
        <field name="name">Departments</field>
        <field name="res_model">hospital.department</field>
        <field name="view_mode">tree,form</field>
        <field name="help" type="html">
            <p class="o_view_nocontent_smiling_face">
                Create your first department
            </p>
        </field>
    </record>



    <!-- root menu-->
    <menuitem id="menu_hospital_management_root" name="Hospital Management" sequence="10"/>

    <!-- leaf menu -->
    <menuitem id="menu_hospital_management_department" name="Departments" parent="menu_hospital_management_root"
              action="action_hospital_department"
              sequence="1"/>
    <menuitem id="menu_hospital_doctor" name="Doctors" parent="menu_hospital_management_root"
              action="action_hospital_doctor" sequence="2"/>
    <menuitem id="menu_hospital_management_patient" name="Patient" parent="menu_hospital_management_root"
              action="action_hospital_patient" sequence="3"/>
    <menuitem id="menu_patient_bill" name="Patient Bills" parent="menu_hospital_management_root"
              action="action_patient_bill"
              sequence="4"/>
    <menuitem id="menu_open_url" name="Open Documentation" action="action_open_url"
              parent="menu_hospital_management_root"/>


</odoo>
